/*
white #fff;
svg #8a9195; 
text #51575B;
background #4A463F;
button 3DAFBE;
heading #ffCA99;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #51575B;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #51575B;
}

p {
	font-weight: 300;
}

.logo svg {
	width: 15px;
}

.logo h1 {
	font-size: 54px;
	font-weight: 800;
	margin-bottom: 30px;
}

.logo span {
	font-size: .9rem;
}

header {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

nav {
	margin: 25px 0 15px 0;
}

nav ul li {
	font-weight: 300;
	font-size: 1.1rem;
	display: inline;
	margin-right: 15px;
}

nav ul li a:hover {
	color: #ffCA99;
}

.download {
	padding: 20px;
	text-align: center;
}

.download p {
	margin-bottom: 20px;
}

.download h1 {
	display: none;
}


/* ------------- BUTTONS ------------- */

.download-btn-small {
	background-color: #3DAFBE;
	padding: 5px 10px;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	box-shadow: 2px 3px 2px 2px rgb(136,136,136, .3);
}

.download-btn-small a,
.download-btn a {
	color: white;
}

.download-btn {
	background-color: #3DAFBE;
	font-size: 20px;
	padding: 15px 10px;
	border-radius: 5px;
	width: 100%;
	box-shadow: 2px 3px 2px 2px rgb(136,136,136, .3);
	margin-bottom: 20px;
}

.download-btn:hover,
.download-btn-small:hover {
	opacity: 0.8;
}

header button {
	display: none;
}

hr {
	border: 3px solid #ffCA99;
}

.info {
	background-color: #4A463F;
	color: #fff;
	padding-top: 100px;
}

.info h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 42px;
	font-weight: 200;
	margin-bottom: 100px;
}

.info h1 span.firebase {
	color: #ffCA99;
	font-weight: 400;
}

.info h1 span.firebasejs {
	font-weight: 400;
}

.card {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 60px;
	position: relative;
}

.card:last-child {
	padding-bottom: 100px;
}

.card h3 {
	color: #ffCA99;
	margin-bottom: 5px;
}

.logo p {
	display: none;
}


/* ------------- SVG IMAGES ------------- */

.card-svg {
	width: 25px;
	position: absolute;
	left: -35px;
}

.svg-icon {
	width: 25px;
}

.social svg {
	margin-right: 20px;
}

/* ------------- MEDIA QUERIES ------------- */

@media (min-width: 730px) {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: 20px;
		margin-right: 20px;
	}	

	header button {
		display: inline;
	}

	.logo {
		display: flex;
		flex-direction: column;
	}

	.logo p {
		display: inline;
		font-weight: 400;
		font-size: 1.3rem;
	}

	.logo h1 {
		display: none;
	}

	.download {
		width: 60%;
		margin: 0 auto;
		text-align: left;
	}

	.download h1 {
		display: block;
		font-size: 52px;
		margin-bottom: 30px;
		text-shadow: 2px 2px 5px grey;
	}

	.download-btn {
		width: auto;
		padding: 10px 15px;
		font-size: 20px;
		margin-top: 20px;
	}

	.social {
		display: flex;
		align-items: center;
	}

	.card-container {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: center;
		padding: 20px 50px 50px 50px;
	}

	.card {
		width: 33.33%;
		padding: 20px;
	}

	.card-svg {
		width: 25px;
		position: absolute;
		left: -10px;
	}
}

@media (min-width: 875px) {
	.download {
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}

	/*
	.download-btn {
		width: auto;
		padding: 10px 15px;
		font-size: 20px;
		margin-top: 20px;
	} 
	*/

	.firebase-card-1 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
	}

	.firebase-card p {
		max-width: 450px;
	}

	.firebase-card-1 button {
		width: 120px;
	}

	.firebase-card-2 {
		width: auto;
		text-align: center;
		display: block;
	}
}
